<a href="https://colab.research.google.com/github/rithwikbojja/crt_python_files/blob/master/Day5(27_12_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
n=input()
c=0
i=0
while i<len(n):
    if n[i].isdigit():
        c+=1
    i+=1
print(c)

jhnj789
3

In [0]:
n=input()
c=0
i=0
s=0
while i<len(n):
    if n[i].isdigit():
        c+=1
        s=s+int(n[i])
    i+=1
print(c,s)

hjhj123
3 6

In [0]:
#for loop
# 1 using range()
#2 using iterable object
n=int(input())
for i in range(1,n+1):
    print(i,end=" ")

3
1 2 3

In [0]:
n=int(input())
for i in range(1,n+1,2):
    print(i,end=" ")

10
1 3 5 7 9

In [0]:
#input:python
#otput:p y t h o n
n="python"
i=0
while i<len(n):
    print(n[i],end=" ")
    i=i+1

p y t h o n

In [0]:
n="python"
for i in range(0,len(n)):
    print(n[i],end=" ")

p y t h o n

In [0]:
n="python"
for i in n:
  print(i,end=" ")

p y t h o n

In [0]:
print(1)
print()
print(2)

1

2

## collection type datatype 
##list
###1.for creating a list use []
###2.list are mutable
###3.list are ordered
###4.list allows duplicate values
###5.lists are indexed
###6.it stores heterogeneous values

In [0]:
list1=[23,34,456,56.67,"string",True,[1,2,3]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][-1])
print(len(list1))

[1, 2, 3]
[456, 56.67]
gnirts
3
7

In [0]:
#manipulating a list
#1.adding elements
#append can only add at the end of list
list2=[34,45,56,67]
list2.append(100)
list2.append(200)
list2.append("string")
list2.append([1,2,3])
print("after adding elements:",list2)

after adding elements: [34, 45, 56, 67, 100, 200, 'string', [1, 2, 3]]

In [0]:
#insert can add in bw of list
list2.insert(1,400)
print(list2)

[34, 400, 45, 56, 67, 100, 200, 'string', [1, 2, 3]]

In [0]:
#extend to insert multiplevalues inside a list
list2.extend([4,5,6])
print(list2)

[34, 400, 45, 56, 67, 100, 200, 'string', [1, 2, 3], 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [0]:
#removing elements from the list
#pop()
list2.pop()
print(list2)
list2.pop(1) 
print(list2)
list2.pop(20)
print(list2)

[34, 45, 56, 67, 100, 200, 'string', [1, 2, 3], 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5]
[34, 56, 67, 100, 200, 'string', [1, 2, 3], 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5]

IndexError: ignored

In [0]:
#remove()
list2.remove(100)
print(list2)

[34, 56, 67, 200, 'string', [1, 2, 3], 4, 6, 4, 5, 6, 4, 5, 6, 4, 5]

In [0]:
#clear() remove all elments in the list
list3=[7,8]
print(list3)

list3.clear()
print(list3)

[7, 8]
[]

In [61]:
#replacing element
list2[11]=1000
list2

[34, 56, 67, 200, 'string', [1, 2, 3], 4, 6, 4, 5, 6, 1000, 5, 6, 4, 5]

In [68]:
#sorting a list
list4=[1,4,63,3,4,56,32]
list4.sort()
print(list4)
list5=['string','hi']
list5.sort()
print(list5)
#descending ordder
list4.sort(reverse=True)
list5.sort(reverse=True)
print(list4)
print(list5)

[1, 3, 4, 4, 32, 56, 63]
['hi', 'string']
[63, 56, 32, 4, 4, 3, 1]
['string', 'hi']

In [69]:
#reversing a list
list6=[1,2,3,4,5,6]
list6.reverse()
list6

[6, 5, 4, 3, 2, 1]

In [70]:
#index of an elenemenet in the string
list6.index(5)

1

In [71]:
#count() for knowimg how times value repeated in the list
list4.count(4)

2

In [74]:
#copying a list using copy()
list7=list6
print(list6)
print(list7)
list8=list6.copy()
print(list8)
list6.append(100)
print(list6)
print(list7)
print(list8)

[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1]
[6, 5, 4, 3, 2, 1, 100]
[6, 5, 4, 3, 2, 1, 100]
[6, 5, 4, 3, 2, 1]

In [84]:
#input:[2,4,5,7,8]     square of numbers in the lsit
#output:[4,16,35,49,64]
list9=[2,4,5,7,8]
list10=[]
for i in range(0,len(list9)):
  
    list10.append(list9[i]**2)
print(list10)

[4, 16, 25, 49, 64]

In [103]:
#print only even nos of the list
list11=[]
for i in range(0,len(list9)):
    if list9[i]%2==0:
        list11.append(list9[i])
print(list11)

[2, 4, 8]

In [106]:
l1=[2,3,4,5,6]
l2=[]
for i in l1:
    if i%2==0:
     l2.append(i)
print(l2)

[2, 4, 6]

In [117]:
#create a list and accept values of list at runtime and print sum of all elements of the list
list12=[]
j=0
n=int(input())
for i in range(n):
  list12.append(int(input()))
  j=j+list12[i]
print(j)  
print(sum(list12))

3
1
2
3
6
6

#tuple

In [119]:
#tuple
x=23,34,45,56,67
print(x)
print(type(x))

(23, 34, 45, 56, 67)
<class 'tuple'>

In [121]:
tup1=(23,4,5)
x,y,z=tup1
print(x,y,z)

23 4 5

#dictionary
##synatx:(key1:value,key2:value2,......)
###key:
1.key should be unique
2.keys should be immutable...-> int,float,string,tuple

In [123]:
#dictionary
dict1={"name":"rith","couse":"python","address":"hyd",(56,67):"hh"}
dict1

{(56, 67): 'hh', 'address': 'hyd', 'couse': 'python', 'name': 'rith'}

In [126]:
#dictionary
dict1={"name":"rith","couse":"python","address":"hyd",(56,67):"hh"}
dict1["couse"]

'python'

In [127]:
#dictionary
dict1={"name":"rith","couse":"python","address":"hyd",(56,67):"hh"}
dict1["couse"]="c prog"
print(dict1)

{'name': 'rith', 'couse': 'c prog', 'address': 'hyd', (56, 67): 'hh'}

In [130]:
#adding entry
dict1["college"]="gitam"
print(dict1)

{'name': 'rith', 'couse': 'c prog', 'address': 'hyd', (56, 67): 'hh', 'college': 'gitam'}

In [131]:
#removing entry
del dict1["address"]
print(dict1)

{'name': 'rith', 'couse': 'c prog', (56, 67): 'hh', 'college': 'gitam'}

#function
##def name_of_the_function(arg list)
### staments
###return

In [132]:
def add(x,y):#fun defination
  return x+y
print(add(10,20))#function calling
print(add(100,200))

30
300

In [133]:
def add(x,y):#fun defination
  print(x+y)
print(add(10,20))#function calling
print(add(100,200))

30
None
300
None

In [134]:
def square(x):
  return x*x
def cube(x):
  return square(x)*x
print(cube(3))

27